
@model dotnet_g033.Models.ViewModels.SessieDetailsViewModel
@{
    ViewData["Title"] = "Gegevens Sessie";
}

<h1 class="modal-title">@Model.Naam - @Model.VerantwoordelijkeNaam </h1>
<ul class="list-group">
    <li class="list-group-item">
        <div class="font-italic">@Model.Lokaal</div>
        <div class="font-italic">
            @Model.StartDatum.ToString("dd/MM/yyyy, HH:mm") - @Model.EindDatum.ToString("HH:mm")
            <form method="post">
                @if ((bool)ViewData["IsIngeschreven"])
                {
                    <button class="btn btn-secondary float-right text-center" asp-controller="Sessie" asp-action="Uitschrijven" asp-route-id="@Model.SessieId" type="submit">Uitschrijven</button>
                    if ((bool)ViewData["IsAanwezig"])
                    {

                    }
                    else 
                    {
                    
                    }
                }
                else
                {
                    <button class="btn btn-secondary float-right text-center" asp-controller="Sessie" asp-action="InSchrijven" asp-route-id="@Model.SessieId" type="submit">Inschrijven </button>
                    
                }

            </form> 
        </div>
    </li>
    @if(Model.Beschrijving != "") {
        <li class="list-group-item">@Model.Beschrijving</li>
    }
    @Html.Raw(Model.DisplayMedia())
    <li class="list-group-item">
        <p>Aantal plaatsen beschikbaar: @Model.AantalIngeschrevenGebruikers/@Model.MaxCap</p>
    </li>
</ul>
<br />
<br />
<br />
<div class="list-group">
    <div class="list-group-item-primary">Feedback bij de sessie</div>
    <div class="list-group-item">Feedback item #1</div>
    <div class="list-group-item">Feedback item #2</div>
    <div class="list-group-item">Feedback item #3</div>
    <div class="list-group-item">
            <textarea class="form-control col-xs-12" type="text" name="feedbackinput">Geef feedback op deze sessie</textarea><br />
            <button>Indienen</button>
    </div>
</div>
