
@model dotnet_g033.Models.ViewModels.SessieDetailsViewModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="modal-title">@Model.Sessie.Naam - Naam verantwoordelijke</h1>
<ul class="list-group">
    <li class="list-group-item">
        <div class="font-italic">@Model.Sessie.Lokaal</div>

        <div class="font-italic">@Model.Sessie.StartDatum.ToString("dd/MM/yyyy, HH:mm") - @Model.Sessie.EindDatum.ToString("HH:mm")</div>
    </li>
    @if(Model.Sessie.Beschrijving != "") {
        <li class="list-group-item">@Model.Sessie.Beschrijving</li>
    }
    @Html.Raw(Model.Sessie.Media.DisplayAlleMedia())
    <li class="list-group-item">
        <p>Aantal plaatsen beschikbaar: @Model.Sessie.AantalAanwezigeGebruikers/@Model.Sessie.MaxCap</p>
    </li>
</ul>
<br />
<button>Inschrijven in de sessie</button> 
<br />
<br />
<br />
<div class="list-group">
    <div class="list-group-item-primary">Feedback bij de sessie</div>
    <div class="list-group-item">Feedback item #1</div>
    <div class="list-group-item">Feedback item #2</div>
    <div class="list-group-item">Feedback item #3</div>
    <div class="list-group-item">
            <textarea class="form-control col-xs-12" type="text" name="feedbackinput">Geef feedback op deze sessie</textarea><br />
            <button>Indienen</button>
    </div>
</div>
