@model dotnet_g033.Models.ViewModels.SessieDetailsViewModel
@{
    ViewData["Title"] = "Gegevens Sessie";
}

<h1 class="modal-title">@Model.Naam - @Model.VerantwoordelijkeNaam </h1>
<ul class="list-group">
    <li class="list-group-item">
        <div class="font-italic">@Model.Lokaal</div>
        <div class="font-italic">
            @Model.StartDatum.ToString("dd/MM/yyyy, HH:mm") - @Model.EindDatum.ToString("HH:mm")
            <!--Kijk of het een Edit view is-->
            @if ((bool)ViewData["IsDetails"])
            {
                <form method="post">
                    <!--Is de gebruiker ingeschreven-->
                    @if ((bool)ViewData["IsIngeschreven"])
                    {
                        <button class="btn btn-secondary float-right text-center " asp-controller="Sessie" asp-action="Uitschrijven" asp-route-id="@Model.SessieId" type="submit">Uitschrijven</button>
                        <!--Is de gebruiker is aanwezig-->
                        if (!(bool)ViewData["IsAanwezig"])
                        {
                            <button class="btn btn-secondary float-right text-center " style="margin-right:1em" asp-controller="Sessie" asp-action="AanwezigStellen" asp-route-id="@Model.SessieId" type="submit">Aanmelden</button>
                        }
                    }
                    else
                    {
                        if (Model.KanNogInschrijven)
                        {
                            <button class="btn btn-secondary float-right text-center" asp-controller="Sessie" asp-action="InSchrijven" asp-route-id="@Model.SessieId" type="submit">Inschrijven </button>
                        }
                    }

                </form>
            }
        </div>
    </li>
    @if (Model.Beschrijving != "")
    {
        <li class="list-group-item"><span class="beschrijving">@Model.Beschrijving</span></li>
    }
    <!--Media partial heeft de view media-->
    @if ((bool)ViewData["IsDetails"] && Model.HeeftMedia)
    {
        <partial name="_MediaPartial" />
    }
    @if (!(bool)ViewData["IsDetails"])
    {
        <partial name="_IngeschrevenGebruikersPartial" />
    }
    <li class="list-group-item">
        <!-- <p>Aantal plaatsen beschikbaar: @Model.AantalIngeschrevenGebruikers/@Model.MaxCap</p>-->
        <p>Aantal plaatsen beschikbaar: @(Model.AantalResterend)/@Model.MaxCap</p>
    </li>
</ul>
<br />
<br />
<br />
<div class="list-group">
    <div class="list-group-item-primary">
        <p>Feedback bij de sessie</p>
    </div>

    <div class="list-group-item">

        @if (Model.HeeftFeedback)
        {
            @foreach (var feedback in Model.Feedback)
            {
                <div class="comment">
                    @for (int i = 0; i < feedback.ToonAantalSterren(); i++)
                    {
                        <span class="blue-star">★</span>
                    }

                    @for (int i = feedback.ToonAantalSterren(); i < 5; i++)
                    {
                        <span class="normal-star">★</span>
                    }

                    @if ((bool)((string)ViewData["GebruikerId"] == feedback.GebruikerUserName))
                    {
                        <div>
                            @{
                                var parms = new Dictionary<string, string>
                                {{ "sessieId", Model.SessieId.ToString() },{ "feedbackId", feedback.Id.ToString() } };
                            }
                            <a class="verwijder-comment-knop" asp-route="VerwijderFeedback"
                               asp-all-route-data="parms">Verwijder comment</a>
                        </div>

                    }

                    @if ((bool)feedback.HeeftInhoud())
                    {
                        <p class="inhoud">@feedback.Inhoud</p>
                    }

                    <p class="naam_tijd">~@feedback.Voornaam @feedback.Achternaam op @feedback.TijdToegevoegd.ToShortDateString() om @feedback.TijdToegevoegd.ToString("HH:mm")</p>
                </div>
            }
        }


    </div>

    <div class="list-group-item">
        <form id="form1" method="post" enctype="multipart/form-data" asp-controller="Sessie" asp-action="VoegFeedbackToe">
            <input name="SessieId" value="@Model.SessieId" type="hidden" />
            <div class="rating">
                <label>
                    <input type="radio" name="AantalSterren" value="1" id="i1" />
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="AantalSterren" value="2" id="i2" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="AantalSterren" value="3" id="i3" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="AantalSterren" value="4" id="i4" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="AantalSterren" value="5" id="i5" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
            </div>
            <div>
                <textarea class="form-control col-xs-12" type="text" name="Comment" placeholder="Geef feedback op deze sessie" id="text1"></textarea><br />
                <button type="submit" onclick=submitForm()>Indienen</button>
            </div>
        </form>
    </div>
</div>
