@model dotnet_g033.Models.ViewModels.SessieIndexViewmodel;
@{
    ViewData["Title"] = "Sessies";
}
<h2>@ViewData["Title"]</h2>

<form style="margin-bottom:1em">
    <div class="form-inline">
        <div class="form-group">
            <label for="maandId"></label>
            <select onchange="this.form.submit()" id="maandId" name="maandId" asp-items="@(ViewData["Maanden"] as SelectList)" class="form-control">
            </select>
        </div>
    </div>
</form>

@if ((bool)@ViewData["bevatSessies"])
{
    if ((bool)ViewData["Ingelogd"])

    {
        <text>Er zijn geen sessies ingepland voor deze maand</text>;
    }
    else
    {
        <text>U moet zich inloggen</text>;

    }
}
else
{
    <div style="margin-bottom:1em" class="form-inline">
        <div>
            <input type="text" id="naam" onkeyup="filterFunction()" placeholder="Zoek een titel">
        </div>
        <div style="margin-left:1em">
            <input type="text" id="verantwoordelijke" onkeyup="filterVerantwoordelijkeFunction()" placeholder="Zoek verantwoordelijke">
        </div>
    </div>

    <table id="myTable" class="table">
        <tr>
            <th class="text-left">Titel</th>
            <th class="text-center">Naam verantwoordelijke</th>
            <th class=" text-center">Start datum & tijd</th>
            <th class=" text-center">Duur</th>
            <th class="text-center">Aantal Personen</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.Sessies)
        {
    
        <tr>

            <td class="text-left">
                <a asp-controller="Sessie" asp-action="Details" asp-route-id="@item.SessieId">@item.Naam</a>
</td>
            <td class="text-center">
                @item.Verantwoordelijke.Voornaam @item.Verantwoordelijke.Achternaam
            </td>
            <td class=" text-center">
                @(item.StartDatum.ToString("ddd dd/MM/yyyy, HH:mm"))
            </td>
            <td class=" text-center">
                @(item.Duur.ToString(@"hh\:mm"))
            </td>
            <td class="text-center">@(item.AantalIngeschrevenGebruikers)/@item.MaxCap</td>
            <td>
                @if (!item.GebruikerIsIngeschreven(Model.Gebruiker)) {
                    if (item.KanNogInschrijven) {
                        <a asp-controller="Sessie" asp-action="InSchrijven" asp-route-id="@item.SessieId">Inschrijven</a>
                    }
                    else {
                        <text>Vol!</text>
                    }
                }
                else {
                    <a asp-controller="Sessie" asp-action="Uitschrijven" asp-route-id="@item.SessieId">Uitschrijven</a>
                }

            </td>
        </tr>
    
        }

    </table>
}