@model dotnet_g033.Models.ViewModels.SessieIndexViewmodel;
@{
    ViewData["Title"] = "Sessie's";
}
<h2>@ViewData["Title"]</h2>

<form>
    <div class="form-inline">
        <div class="form-group">
            <label for="maandId"></label>
            <select onchange="this.form.submit()" id="maandId" name="maandId" asp-items="@(ViewData["Maanden"] as SelectList)" class="form-control">
            </select>
        </div>
    </div>
</form>

<p></p>

<table class="table">
    @if ((bool)@ViewData["bevatSessies"])
    {
        if ((bool)ViewData["Ingelogd"])
        {
            <text>Er zijn geen sessies ingepland voor deze maand</text>;
        }
        else
        {
            <text>U moet zich inloggen</text>;

        }
    }
    else
    {
        <tr>
            <th>Titel</th>
            <th>Naam verantwoordelijke</th>
            <th>Start datum & tijd</th>
            <th>Eind datum & tijd</th>
            <th class="text-center">Aantal Personen</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.Sessies)
        {
            <tr>
                <td>
                    @item.Naam
                </td>
                <td>
                    @item.Verantwoordelijke.Voornaam @item.Verantwoordelijke.Achternaam
                </td>
                <td>
                    @(item.StartDatum.ToString("ddd dd/MM/yyyy, HH:mm"))
                </td>
                <td>
                    @(item.EindDatum.ToString("ddd dd/MM/yyyy, HH:mm"))
                </td>
                <td class="text-center">@(item.AantalIngeschrevenGebruikers)/@item.MaxCap</td>

                <td>
                    <a asp-controller="Sessie" asp-action="Details" asp-route-id="@item.SessieId">Details</a>
                </td>
                <td>
                    @if (!item.GebruikerIsIngeschreven(Model.Gebruiker)) {
                        <a asp-controller="Sessie" asp-action="InSchrijven" asp-route-id="@item.SessieId">Inschrijven</a>
                    }
                    else {
                        <a asp-controller="Sessie" asp-action="Uitschrijven" asp-route-id="@item.SessieId">Uitschrijven</a>
                    }

                </td>
            </tr>
        }
    }
</table>