@model dotnet_g033.Models.ViewModels.SessieIndexViewmodel;
@{
    ViewData["Title"] = "Sessie's";
}
<h2>@ViewData["Title"]</h2>

<form style="margin-bottom:1em">
    <div class="form-inline">
        <div class="form-group">
            <label for="maandId"></label>
            <select onchange="this.form.submit()" id="maandId" name="maandId" asp-items="@(ViewData["Maanden"] as SelectList)" class="form-control">
            </select>
        </div>
    </div>
</form>
<div style="margin-bottom:1em" class="form-inline">
    <div>
        <input type="text" id="naam" onkeyup="filterOpenzettenFunction()" placeholder="Zoek een titel">
    </div>
    <div style="margin-left:1em">
        <input type="text" id="verantwoordelijke" onkeyup="filterVerantwoordelijkeOpenzettenFunction()" placeholder="Zoek verantwoordelijke">
    </div>
</div>

<table id="myTable" class="table">
    <tr>
        <th class="text-left">Zichtbaarheid</th>
        <th class="text-left">Titel</th>
        <th class="text-center">Naam verantwoordelijke</th>
        <th class="text-center">Start datum & tijd</th>
        <th class="text-center">Duur</th>
        <th class="text-center">Aantal Personen</th>
        <th></th>
    </tr>
    @if ((bool)ViewData["BevatSessies"])
    {
        @foreach (var item in Model.Sessies)
        {
            <tr>
                @if (item.StaatOpen == true)
                {
                    <td class="text-center">
                        <a asp-controller="Sessie" asp-action="VeranderStaatOpen" asp-route-id="@item.SessieId"><span class="iconify" data-icon="el:eye-open" data-inline="false"></span></a>
                    </td>
                }
                else if (item.StaatOpen == false)
                {
                    <td class="text-center">
                        <a asp-controller="Sessie" asp-action="VeranderStaatOpen" asp-route-id="@item.SessieId"><span class="iconify" data-icon="el:eye-close" data-inline="false"></span></a>
                    </td>
                }
                <td class="text-left">
                    @item.Naam
                </td>
                <td class="text-center">
                    @item.Verantwoordelijke.Voornaam @item.Verantwoordelijke.Achternaam
                </td>
                <td class="text-center">
                    @(item.StartDatum.ToString("ddd dd/MM/yyyy, HH:mm"))
                </td>
                <td class="text-center">
                    @(item.Duur.ToString(@"hh\:mm"))
                </td>
                <td class="text-center">@(item.AantalIngeschrevenGebruikers)/@item.MaxCap</td>
                <td>
                    <a asp-controller="Sessie" asp-action="DetailsExtra" asp-route-id="@item.SessieId">Details</a>
                </td>
            </tr>
        }
    }
    else
    {
        <text>U heeft nog geen sessies ingepland deze maand</text>;
    }
</table>